* {
    font-family: Georgia;
}
.navBar {
    display: flex;
    background: deepskyblue;
    border: 2px solid blue;
    padding: 10px 20px; 
    width: match-parent;
    border-radius: 10px;
}

.navButton {
    background: #a1a1a1;
    border-radius: 8px;
    margin: auto;
    font-size: 16px;
}
.navButton a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
}

.pageTitle {
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
}

.subheadText {
    font-style: oblique;
    font-size: 20px;
}

.mainBody {
    padding-left: 100px;
    padding-right: 100px;
}

.subtitle {
    text-decoration: underline;
    text-align: center;
    font-size: 32px;
}

.centerText {
    text-align: center;
}

.italicText {
    font-style: italic;
}

.scrollText {
    overflow: scroll;
}

.smallBlock {
    margin: auto;
    width: 400px;
    height: 175px;
    line-height: 2;
    
}

.columnsContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

.columnsContainer img {
    width: 200px;
    max-height: 200px;
    margin: auto;
}

.textAndImage {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    text-align: center;
    line-height: 3;
}

.textAndImage img {
    width: 200px;
    margin: auto
}