* {
    font-family: fantasy;
    font-style: oblique;
}
.navBar {
    display: flex;
    background: deepskyblue;
    border: 2px solid blue;
    padding: 10px 20px; 
    width: match-parent;
    border-radius: 10px;
}

.navButton {
    background: #a1a1a1;
    border-radius: 8px;
    margin: auto;
    font-size: 16px;
}
.navButton a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.pageTitle {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 3px;
}